:root {
  --main-color-font: #212121;
  --secondary-color-font: #757575;
  --main-bg-color: #ffffff;
  --accent-color: #2196f3;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: roboto, sans-serif;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  display: block;
  text-decoration: none;
  color: var(--main-color-font);
  transition: color 250ms var(--time-function);
}
.link:hover, .link:focus {
  color: var(--accent-color);
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }
}

.header-list {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .logo {
    padding: 26px 0 26px 0;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    padding: 24px 0 25px 0;
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-web {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.headers {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: flex;
}
@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

.header-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color-font);
  margin-right: 50px;
}

.current {
  position: relative;
  color: var(--accent-color);
}
.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header-list {
  width: 294px;
  margin-left: 88px;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .header-list {
    align-items: flex-end;
  }
}
@media screen and (min-width: 1200px) {
  .header-list {
    margin-left: 93px;
  }
}

.header-list .header-text:last-child {
  margin-right: 0;
}

.header-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-mail {
  display: flex;
  align-items: baseline;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  padding: 21px 0 0 0;
  color: var(--secondary-color-font);
}
@media screen and (min-width: 1200px) {
  .header-mail {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.header-tel {
  display: flex;
  align-items: baseline;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  padding: 0 0 21px 0;
  color: var(--secondary-color-font);
}
@media screen and (min-width: 1200px) {
  .header-tel {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.mail-logo {
  fill: currentColor;
  margin-right: 10px;
  align-self: center;
}

.tel-size {
  margin-top: 10px;
  margin-left: 0;
}
@media screen and (min-width: 1200px) {
  .tel-size {
    margin-top: 0;
    margin-left: 30px;
  }
}

.conthead {
  display: flex;
  padding-left: 0;
  margin-left: auto;
  align-items: baseline;
}
@media screen and (max-width: 1199px) {
  .conthead {
    flex-direction: column;
  }
}

.mobil-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 10px 15px 48px 40px;
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.mobil-header {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .mobil-header {
    display: none;
  }
}

.mobil-soc {
  display: flex;
  flex-wrap: wrap;
}

.mobil-list {
  margin-bottom: auto;
}

.mobil-contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

.mobil-contacts__tel {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
}

.mobil-contacts__mail {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

.mobil-contacts__item {
  margin-top: 32px;
}

.mobil-btn {
  display: block;
  margin-left: auto;
  padding: 0;
  background-color: #fff;
  border: none;
  transition: transform 350ms var(--time-function), color 350ms var(--time-function);
}
.mobil-btn:hover, .mobil-btn:focus {
  transform: rotate(180deg);
  color: var(--accent-color);
}

.mobil-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobil-list__link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  transition: color 250ms var(--time-function);
}

.mobil-soc {
  margin-top: 64px;
}

.mobil-soc__link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobil-soc__item {
  position: relative;
}
.mobil-soc__item:not(:last-child) {
  margin-right: 20px;
}
.mobil-soc__item:not(:last-child)::after {
  position: absolute;
  content: "";
  margin-left: 10px;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
}

.mobil-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: auto;
}

.mobil-svg {
  transition: fill 250ms --time-function;
}
.mobil-svg:hover {
  fill: #2196f3;
}

.mobil-list__link--color {
  color: var(--accent-color);
}

.hero__size {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero {
  display: flex;
  background-color: #2f303a;
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-mob2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-tab2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-desc.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-desc2x.jpg);
  }
}

.hero__caption {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-bg-color);
}
@media screen and (min-width: 480px) {
  .hero__caption {
    width: 360px;
    height: 84px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__caption {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    height: 120px;
  }
}

.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-bg-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

@media screen and (max-width: 1199px) {
  .section__benefits {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section__benefits {
    padding-top: 94px;
  }
}

.benefits__list {
  width: 100%;
}
.benefits__list:last-child {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .benefits__list {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    width: calc((100% - 90px) / 4);
  }
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.benefits__icon {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.benefits__title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color-font);
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color-font);
}
.benefits__text:not(:last-child) {
  margin-right: 0;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 94px 0;
  }
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-font);
}
@media screen and (max-width: 1199px) {
  .title {
    display: none;
  }
}

.about__list {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .about__list {
    display: none;
  }
}

.about__list .about__img + .about__img {
  margin-left: 30px;
}

.about__img {
  position: relative;
}

.about__box {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
@media screen and (max-width: 1199px) {
  .about__box {
    display: none;
  }
}

.about__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .about__text {
    display: none;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.social-links-team {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  color: #afb1b8;
  transition: transform 250ms var(--time-function), background-color 250ms var(--time-function), color 250ms var(--time-function);
}
.social-links-team:hover, .social-links-team:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  transform: scale(1.2);
}

.social-links-ikon {
  fill: currentColor;
}

.team-member {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-member {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-member {
    width: calc((100% - 90px) / 4);
  }
}

.team__name {
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-font);
}
@media screen and (min-width: 1200px) {
  .team__name {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.team-member__name {
  padding-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-font);
}

.team-member__prof {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color-font);
}

.team {
  background: #f5f4fa;
}

.team-member__list {
  display: flex;
  justify-content: center;
  margin: 0 32px 30px;
}

.social-links {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}
.social-links:first-child {
  margin-left: 0;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: transform 250ms var(--time-function), color 250ms var(--time-function), border-color 250ms var(--time-function);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
  transform: scale(1.1);
}

.clients__social-link {
  width: 100%;
  height: 92px;
  width: calc((100% - 30px) / 2);
}
.clients__social-link:first-child {
  margin-left: 0;
}
@media screen and (min-width: 768px) {
  .clients__social-link {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__social-link {
    width: calc((100% - 150px) / 6);
  }
}

.clients__icon {
  fill: currentColor;
}

.clients__title {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.footer-title {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .footer-title {
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}

.footer-bloks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-bloks {
    flex-direction: row;
    align-items: baseline;
  }
}

.footer-size-block {
  display: flex;
  flex-direction: column;
  width: 231px;
}
@media screen and (max-width: 1200px) {
  .footer-size-block {
    align-items: center;
  }
}

.footer {
  padding: 60px 0;
  background: #2f303a;
}

.contacts-list {
  margin-top: 8px;
}

.logo-link {
  padding: 0;
  margin-bottom: 20px;
  color: var(--accent-color);
}

.logo-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-bg-color);
}

.contacts-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-bg-color);
}

.contacts-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contacts-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contacts {
  font-style: normal;
}
@media screen and (max-width: 1200px) {
  .contacts {
    text-align: center;
  }
}

.footer-links {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer-links {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-links {
    margin-left: 70px;
  }
}

.footer-soc-links {
  display: flex;
  justify-content: center;
}

.social-links-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: transform 250ms var(--time-function), background-color 250ms var(--time-function);
}
.social-links-footer:hover, .social-links-footer:focus {
  background-color: var(--accent-color);
  transform: scale(1.2);
}

.caption-form {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 1200px) {
  .caption-form {
    text-align: center;
  }
}

.footer-form {
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: 93px;
    margin-top: 0;
  }
}

.footer-btn {
  width: 200px;
  padding: 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;
}
.footer-btn:hover, .footer-btn:focus {
  cursor: pointer;
  background-color: #188ce8;
}
@media screen and (min-width: 1200px) {
  .footer-btn {
    margin-left: 12px;
    margin-top: 0;
  }
}

.btn-text {
  margin-right: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.footer-input {
  width: 100%;
  padding-left: 16px;
  height: 50px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms var(--time-function);
  outline: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
  transition: border-color 250ms var(--time-function);
}
.footer-input:hover, .footer-input:focus {
  border-color: #ffffff;
}
.footer-input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 480px) {
  .footer-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-input {
    width: 358px;
  }
}

.footer-form-size {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .footer-form-size {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}

.portfolio-buttons {
  display: flex;
}
@media screen and (max-width: 767px) {
  .portfolio-buttons {
    flex-wrap: wrap;
    margin-top: -15px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-buttons {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-buttons {
    margin-bottom: 50px;
  }
}

.portfolio-buttons__item:hover, .portfolio-buttons__item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
@media screen and (max-width: 767px) {
  .portfolio-buttons__item {
    margin-top: 15px;
    margin-right: 8px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-buttons .portfolio-buttons__item + .portfolio-buttons__item {
    margin-left: 8px;
  }
}

.portfolio-buttons__link {
  padding: 6px 22px;
  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  transition: transform 250ms var(--time-function), background-color 250ms var(--time-function), color 250ms var(--time-function), box-shadow 250ms var(--time-function);
}
.portfolio-buttons__link:hover, .portfolio-buttons__link:focus {
  color: var(--main-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transform: scale(1.1);
}

.cards__content {
  overflow: hidden;
  position: relative;
}

.cards__body {
  width: 100%;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .cards__body {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .cards__body {
    width: calc((100% - 60px) / 3);
  }
}

.cards__text {
  height: 100%;
  position: absolute;
  top: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms var(--time-function);
}

.cards__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: var(--main-color-font);
}

.cards__desc {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color-font);
}

.cards__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  text-decoration: none;
  transition: transform 250ms var(--time-function), box-shadow 250ms var(--time-function);
}
.cards__link:hover, .cards__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: scale(1.1);
}
.cards__link:hover .cards__text {
  transform: translateY(0);
}

.cards {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cards__item {
  flex-grow: 1;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  height: auto;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms linear;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__btn {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: fill 250ms var(--time-function);
}
.modal__btn:hover {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-title {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 23px;
  }
}

.input-modal {
  margin-top: 4px;
  padding-left: 42px;
  outline: none;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms var(--time-function);
}
.input-modal:hover, .input-modal:focus {
  border-color: var(--accent-color);
}
.input-modal:checked + .svg-modal {
  fill: var(--accent-color);
}

.label-modal {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  cursor: pointer;
  transition: fill 250ms var(--time-function);
}
.label-modal:focus-within > .svg-modal, .label-modal:hover > .svg-modal {
  fill: var(--accent-color);
}

.textarea-modal {
  margin-top: 4px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  cursor: pointer;
  transition: border-color 250ms var(--time-function);
}
.textarea-modal::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.textarea-modal:hover, .textarea-modal:focus {
  border-color: var(--accent-color);
}

.modal-btn {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
  transition: background-color 250ms var(--time-function), box-shadow 250ms var(--time-function);
}

.link-modal {
  color: var(--accent-color);
}

.modal-chekbox {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more {
  margin-left: 7px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .more {
    font-size: 14px;
    line-height: 24px;
  }
}

.modal-btn {
  transform: scale(1.05);
}
.modal-btn:hover, .modal-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.svg-modal {
  position: absolute;
  top: 28px;
  left: 15px;
}

.checkbox-form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  cursor: pointer;
}

.modal-checkbox {
  margin-top: 20px;
}

.checkbox-input {
  display: inline-block;
  display: hidden;
  cursor: pointer;
  transition: color 250ms var(--time-function);
}
.checkbox-input:checked + .svg-checkbox {
  opacity: 0;
}
.checkbox-input:checked ~ .svg-modal-checkbox {
  opacity: 1;
}
.checkbox-input:checked ~ .more {
  color: var(--accent-color);
}

.svg-checkbox,
.svg-modal-checkbox {
  transition: opacity 250ms var(--time-function);
}

.svg-modal-checkbox {
  position: absolute;
  left: 0;
  opacity: 0;
}
@media screen and (min-width: 1200px) {
  .svg-modal-checkbox {
    left: 12px;
  }
}

.svg-checkbox {
  opacity: 1;
}

.svg-modal {
  transition: fill 250ms var(--time-function);
}

.more {
  transition: color 250ms var(--time-function);
}/*# sourceMappingURL=main.css.map */