:root {
--main-color-font: #212121;
--secondary-color-font: #757575;
--main-bg-color: #ffffff;
--accent-color:#2196F3;
--time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
ul
{
margin: 0;
padding: 0;
list-style-type: none;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: roboto, sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.project-title {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    color: cu;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.list {list-style: none;
}

.section-not {
    text-decoration: none;
}
.link {    
    display: block;
    text-decoration: none;
    color:var(--main-color-font);
    transition: color 250ms var(--time-function);
}

.link:hover, .link:focus {
    color: var(--accent-color);
}

/*header*/

.header-list{
    display: flex;
    justify-content: space-between;
}

/*---Logo---*/

.logo, list {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    padding: 24px 0 25px 0;
    text-decoration: none;
}

.logo-web  {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;   
    letter-spacing: 0.03em;
    color: var(--accent-color)
}

.conthead {
    align-items: baseline;
}

.headers {
display: flex;
align-items: center;
margin-top: 0;
border-bottom: 1px solid #ECECEC
}
.header-nav {
    display: flex;
    align-items: baseline;
}
.header-text {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color-font);
    margin-right: 50px;
}

.current::after {
    content: '';
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);

}

.current{
    position: relative;
    color: var(--accent-color);
}

.header-list {
    width: 294px;
    margin-left: 93px;
    padding-left: 0;
}
.header-list .header-text:last-child {
    margin-right: 0;
}
.header-list .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-mail {
    display: flex;
    align-items: baseline;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    color:var(--secondary-color-font);
}
.mail-logo {
    fill: currentColor;
    margin-right: 10px;
    align-self: center;
}
.tel-logo {
    fill: currentColor;
    margin-right: 10px;
    align-self: center;
}

.tel-size {
    margin-left: 30px;
}

.conthead {
display: flex;
padding-left: 0;
margin-left: auto;

}


/*----section1----*/

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section {
padding: 94px 0;
}

.section-size {
    background-color:#2F303A;
    padding: 200px 0;
}
.section-size + .section {
    padding-bottom: 0;
}

.section-caption {
    width: 696px;
    height: 120px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-bg-color);
}
.section.section-size {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.section-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;    
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-bg-color);
    background-color: var(--accent-color);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
}


.section-button:hover, .section-button:focus {
    background-color: #188CE8;
}

/*---section-second---*/
.section-title {
    width: 270px;
}
.section-content{
    margin-bottom: 0;
}
.flex-second {
display: flex;
justify-content: space-between;

}

.advantage-img {
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.section-caption-text {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--main-color-font)
}

.section-text {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.71; 
    letter-spacing: 0.03em;
    color:var(--secondary-color-font)
}

.section-text:not(:last-child) {
    margin-right: 0;
}

.our-advantage {
    display: flex;
    justify-content: space-between;
}


.advantage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
}

/*---section third--*/

.title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;   
    color:var(--main-color-font)
}
.title-list {
display: flex;
}
.title-list
.title-img + .title-img {
    margin-left: 30px;
}

.title-img {
    position: relative;
}

.section-title:last-child {
    margin-right: 0;
}


.title-name {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}   

.desc {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;

}

/*---section-team---*/

.section-team {
    background: #F5F4FA;
}

.section-team-list {
    display: flex;
}
.section-team-list .section-team-item + .section-team-item {
margin-left: 30px;
}

.social-links-team {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: #AFB1B8;
    transition: transform 250ms var(--time-function), background-color 250ms var(--time-function), color 250ms var(--time-function);
}

.social-links-ikon {
    fill: currentColor;
}

.social-links-team:hover,
.social-links-team:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
    transform: scale(1.2);
}

.section-team-item {
    width: 270px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;      
}

.section-team-name {
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--main-color-font)
}

.section-name {
    padding-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;    
    color:var(--main-color-font)
}

.section-prof {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--secondary-color-font)
}

.color-section {
background: #F5F4FA;;
}

.soc-links {
    display: flex;
    justify-content: center;
    margin: 0 32px 30px;
}
.social-links {
    width: 44px;
    height: 44px;
    margin-left: 10px;   
}
.social-links:first-child {
    margin-left: 0;
}

/* Секция клиенты */
.container-client {
    display: flex;
    flex-direction: column;
}
.clients-names {
    display: flex;
}

.link-clients {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color:  #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: transform 250ms var(--time-function), color 250ms var(--time-function), border-color 250ms var(--time-function);
}        
.social-link-clients {
    width: 170px;
    height: 92px;
    margin-left: 30px;
}

.social-link-clients:first-child {
    margin-left: 0;
}

.social-link-icon {
    fill: currentColor;
}

.link-clients:hover,
.link-clients:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
    transform: scale(1.1);
}

.clients {
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;   
    color: #212121;
}
























/*----footer----*/
.footer-title {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.container-footer{
    display: flex;
}


.footer {
    padding: 60px 0;
    background: #2F303A;
}

.footer-bloks {
    display: flex;
}

.footer-size-block {
    display: block;
    width: 231px;
}
.contacts-list {
    margin-top: 9px;
}

.logo-link {
    padding: 0;
    margin-bottom: 20px;
    color: var(--accent-color);
}


.logo-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-bg-color)

}

.contacts-list-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--main-bg-color)
}
.contacts-list{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.contacts-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.contacts {
    font-style: normal;
}

.footer-links {
    margin-top: 12px;
    margin-left: 70px;
}

.footer-soc-links {
    display: flex;
}

.social-links-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    transition: transform 250ms var(--time-function), background-color 250ms var(--time-function);
}

.social-links-footer:hover, 
.social-links-footer:focus {
    background-color: var(--accent-color);
    transform: scale(1.2);
}


.caption-form {
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;   
    color: #FFFFFF;
}

.footer-form {
    margin-top: 12px;
    margin-left: 93px;
}

.footer-btn {
    padding: 0;
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-width: 0;
}

.footer-btn:hover,
.footer-btn:focus {
    cursor: pointer;
    background-color:#188CE8;
}

.btn-text {
    margin-right: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer-input {
    padding-left: 16px;
    width: 358px;
    height: 50px;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: border-color 250ms var(--time-function);
    outline: none;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
    transition: border-color 250ms var(--time-function);
}

.footer-input:hover,
.footer-input:focus {
    border-color: #FFFFFF;
}

.footer-input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-form-size {
    display: flex;
}

.more {
    margin-left: 7px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.link-modal {
    color: var(--accent-color);
}

.modal-chekbox {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}






/*---Portfolio-section---*/
.desc-text {
    overflow: hidden;
    position: relative;
}

.desc-list-text {
    position: absolute;
    top: 0;
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #ffffff; 
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%); 
    transition: transform 250ms var(--time-function);
}

.section-not:hover .desc-list-text {
    transform: translateY(0);
}

.flex-button {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.flex-button .button-list +.button-list {
    margin-left: 8px;
}
.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;   
    letter-spacing: 0.06em;
    color: var(--main-color-font)
}
.project-text {
    margin-top: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-color-font)
}

.section-not {
    display: block;
    overflow: hidden;
    transition: transform 250ms var(--time-function), box-shadow 250ms var(--time-function);
}

.section-not:hover,
.section-not:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transform: scale(1.1);
}

.button-list:hover,
.button-list:focus
{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.button-link:hover,
.button-link:focus {
    color: var(--main-bg-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transform: scale(1.1);
}


.button-link {
    padding: 6px 22px;
    font-family: inherit;
    font-style: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
    transition: transform 250ms var(--time-function), background-color 250ms var(--time-function), color 250ms var(--time-function), box-shadow 250ms var(--time-function);
}
.section-projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.border {
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}






/*   Модальне вікно   */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms linear;
}

.modal-close {
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: fill 250ms var(--time-function);
}

.modal-close:hover {
    fill: var(--accent-color);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;    
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal-title {
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em; 
    color: #212121;
}


.input-modal {
    margin-top: 4px;
    padding-left: 42px;
    outline: none;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 250ms var(--time-function);
}  

.label-modal {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;    
    letter-spacing: 0.01em;
    color: #757575;
    cursor: pointer;
    transition: fill 250ms var(--time-function);
}



.textarea-modal {
    margin-top: 4px;
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    resize: none;
    cursor: pointer;
    transition: border-color 250ms var(--time-function);
}

.textarea-modal::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-btn {
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: var(--accent-color);
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
    transition: background-color 250ms var(--time-function), box-shadow 250ms var(--time-function);
}

.modal-btn {
    transform: scale(1.05);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.svg-modal {
    position: absolute;
    top: 28px;
    left: 15px;
}

.checkbox-form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal-checkbox {
    margin-top: 20px;
}

.checkbox-input {
    display: inline-block;
    appearance: none;
    cursor: pointer;
    transition: color 250ms var(--time-function);
}

.checkbox-input:checked + .svg-checkbox {
    opacity: 0;   
}

.checkbox-input:checked ~ .svg-modal-checkbox {
    opacity: 1;
}

.svg-checkbox,
.svg-modal-checkbox {
    transition: opacity 250ms var(--time-function);
}

.checkbox-input:checked ~ .more {
    color: var(--accent-color);
}

.input-modal:checked + .svg-modal {
    fill: var(--accent-color);
}

.svg-modal-checkbox {
    position: absolute;
    left: 12px;
    opacity: 0;
}

.svg-checkbox {
    opacity: 1;  
}

.input-modal:hover,
.input-modal:focus {
    border-color: var(--accent-color);
}

.label-modal:focus-within > .svg-modal,
.label-modal:hover > .svg-modal {
    fill: var(--accent-color);
}

.svg-modal {
    transition: fill 250ms var(--time-function);
}

.textarea-modal:hover,
.textarea-modal:focus {
    border-color: var(--accent-color);   
}

.more {
    transition: color 250ms var(--time-function);
}
