:root {
--main-color-font: #212121;
--secondary-color-font: #757575;
--main-bg-color: #ffffff;
--accent-color:#2196F3;
}

p,
h1,
h2,
h3,
ul
{
margin: 0;
padding: 0;
list-style-type: none;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: roboto, sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.project-title {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    color: cu;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.list {list-style: none;
}

.section-not {
    text-decoration: none;
}
.link {
    display: block;
    text-decoration: none;
    color:var(--main-color-font)
}

.link:hover, .link:focus {
    color: var(--accent-color)
}


.button-link:hover, .button-link:focus {
    color: var(--main-bg-color);
    background-color: var(--accent-color)
}


/*header*/



.header-list{
    display: flex;
    justify-content: space-between;
}


/*---Logo---*/

.logo, list {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    padding: 24px 0 25px 0;
}

.logo-web  {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;   
    letter-spacing: 0.03em;
    color: var(--accent-color)
}



.conthead {
    align-items: baseline;
}

.headers {
display: flex;
align-items: center;
margin-top: 0;
border-bottom: 1px solid #ECECEC
}
.header-nav {
    display: flex;
    align-items: baseline;
}
.header-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color-font);
    margin-right: 50px;
}

.header-list {
    width: 294px;
    margin-left: 93px;
    padding-left: 0;
}
.header-list .header-text:last-child {
    margin-right: 0;
}
.header-list .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-mail {
    display: flex;
    align-items: baseline;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    color:var(--secondary-color-font);
}
.mail-logo {
    fill: currentColor;
    margin-right: 10px;
    align-self: center;
}
.tel-logo {
    width: 10px;
    height: 16px;
    fill: currentColor;
    margin-right: 10px;
    margin-left: 30px;
    align-self: center;
}

.conthead {
display: flex;
padding-left: 0;
margin-left: auto;

}


/*----section1----*/

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section {
padding: 94px 0;
}

.section-size {
    background-color:#2F303A;
    padding: 200px 0;
}
.section-size + .section {
    padding-bottom: 0;
}

.section-caption {
    width: 696px;
    height: 120px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-bg-color);
}
.section.section-size {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.section-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;    
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-bg-color);
    background-color: var(--accent-color);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
}


.section-button:hover, .section-button:focus {
    background-color: #188CE8;
}

/*---section-second---*/

.section-content{
    margin-bottom: 0;
}
.flex-second {
display: flex;
margin-right: 0;
margin-top: 30px;
padding-left: 0;
}



.section-caption-text {
    margin-bottom: 10px;
    width: 270px;
    height: 16px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--main-color-font)
}

.section-text {
    width: 270px;
    height: 75px;
    margin-right: 30px;
    font-size: 14px;
    line-height: 1.71; 
    letter-spacing: 0.03em;
    color:var(--secondary-color-font)
}

.section-text:not(:last-child) {
    margin-right: 0;
}

/*---section third--*/

.our-advantage {
    display: flex;
    justify-content: space-between;
}


.advantage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color:  #F5F4FA;
}    

.title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;   
    color:var(--main-color-font)
}
.title-list {
display: flex;
}
.title-list
.title-img + .title-img {
    margin-left: 30px;
}

.section-title:last-child {
    margin-right: 0;
}


/*---section-team---*/

.section-team {
    background: #F5F4FA;
}

.section-team-list {
    display: flex;
}
.section-team-list .section-team-item + .section-team-item {
margin-left: 30px;
}

.social-links-team {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: #AFB1B8;
}


.social-links-ikon {
    fill: currentColor;
}

.social-links-team:hover,
.social-links-team:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
}

.section-team-item {
    width: 270px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;      
}

.section-team-name {
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--main-color-font)
}

.section-name {
    padding-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;    
    color:var(--main-color-font)
}

.section-prof {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--secondary-color-font)
}

.color-section {
background: #F5F4FA;;
}

.soc-links {
    display: flex;
    justify-content: center;
    margin: 0 32px 30px;
}
.social-links {
    width: 44px;
    height: 44px;
    margin-left: 10px;   
}
.social-links:first-child {
    margin-left: 0;
}


/* Секция клиенты */
.container-client {
    display: flex;
    flex-direction: column;
}
.clients-names {
    display: flex;
}

.link-clients {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    fill:  #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}        
.social-link-clients {
    width: 170px;
    height: 92px;
    margin-left: 30px;
}
 
.social-link-clients:first-child {
    margin-left: 0;
}

.social-link-icon {
    fill: curentColor
}

.link-clients:hover,
.link-clients:focus {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    fill: var(--accent-color);
}




.clients {
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;   
    color: #212121;
}

/*----footer----*/
.footer-title {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.container-footer{
    display: flex;
}


.footer {
    padding: 60px 0;
    background: #2F303A;
}

.footer-bloks {
    display: flex;
}

.footer-size-block {
    display: block;
    width: 231px;
}
.contacts-list {
    margin-top: 9px;
}

.logo-link {
    padding: 0;
    margin-bottom: 20px;
    color: var(--accent-color);
}


.logo-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-bg-color)

}

.contacts-list-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--main-bg-color)
}
.contacts-list{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.contacts-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}


.button-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;   
    color: var(--main-color-font);
    cursor: pointer;
}

.contacts {
    font-style: normal;
}

.footer-links {
    margin: 12px auto 40px 70px;
}
.footer-soc-links {
    display: flex;
}

.social-links-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
}

.social-links-footer:hover, 
.social-links-footer:focus {
background-color: var(--accent-color);
}
/*---Portfolio-section---*/

.flex-button {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.flex-button .button-list +.button-list {
    margin-left: 8px;
}
.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;   
    letter-spacing: 0.06em;
    color: var(--main-color-font)
}
.project-text {
    margin-top: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-color-font)
}

.section-not {
    display: block;
}
.section-not:hover,
.section-not:focus {
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.button-list:hover,
.button-list:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.button-link {
    padding: 6px 22px;
    font-family: inherit;
    font-style: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
}
.section-projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.border {
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}