body {
    font-family: roboto, sans-serif;

}

.list {list-style: none;
}

.link {
    text-decoration: none;
}

/*---Logo---*/

.logo, list {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.logo-web  {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;   
    letter-spacing: 0.03em;
    color: #000000;
}

/*----header---*/
.header-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}
.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #2196F3;
}
.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
/*----section----*/

.section-caption {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #2F303A;
}

.section-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
}

/*---section-second---*/

.section-caption-text {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.section-text {
    font-size: 14px;
    line-height: 1.71; 
    letter-spacing: 0.03em;
    color: #757575;
}

/*---section title---*/
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;   
    color: #212121;
}

/*---section-team---*/

.section-team-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.section-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 11.19;
    text-align: center;
    letter-spacing: 0.03em;    
    color: #212121;
}

.section-prof {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/*----footer----*/
.footer {
    background: #2F303A;
}

.logo-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;   
}

.contacts-list-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.contacts-list{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.contacts-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}