:root {
--main-color-font: #212121;
--secondary-color-font: #757575;
--main-bg-color: #ffffff;
--accent-color:#2196F3;
}

body {
    font-family: roboto, sans-serif;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.list {list-style: none;
}

.link {
    text-decoration: none;
    color:var(--main-color-font)
}

.link:hover, .link:focus {
color: var(--accent-color)
}

.button-link:hover, .button-link:focus {
    color: var(--main-bg-color);
    background-color: var(--accent-color)
}

/*---Logo---*/

.logo, list {
    font-family: 'Raleway';

    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo-web  {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;   
    letter-spacing: 0.03em;
    color: #000000;
}

/*----header---*/
.header-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
}

.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--main-color-font)
}

.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--secondary-color-font)   
}
/*----section----*/

.section-caption {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-bg-color);
    background: #2F303A;
}

.section-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-bg-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

/*---section-second---*/

.section-caption-text {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--main-color-font)
}
.section-text {
    font-size: 14px;
    line-height: 1.71; 
    letter-spacing: 0.03em;
    color:var(--secondary-color-font)
}

/*---section title---*/
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;   
    color:var(--main-color-font)
}

/*---section-team---*/
.section-team {
    background: #F5F4FA;
}
.section-team-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--main-color-font)
}

.section-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;    
    color:var(--main-color-font)
}

.section-prof {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--secondary-color-font)
}

/*----footer----*/
.footer {
    background: #2F303A;
    
}

.logo-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-bg-color)
}

.contacts-list-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--main-bg-color)
}
.contacts-list{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.contacts-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.button-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;   
    color: var(--main-color-font);
    cursor: pointer;
}

.contacts {
    font-style: normal;
}

/*---Portfolio-section---*/

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;   
    letter-spacing: 0.06em;
    color: var(--main-color-font)
}

.project-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-color-font)
}
