.portfolio-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-buttons .portfolio-buttons__item + .portfolio-buttons__item {
  margin-left: 8px;
}

.portfolio-buttons__item:hover,
.portfolio-buttons__item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-buttons__link {
  padding: 6px 22px;
  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  transition: transform 250ms var(--time-function), background-color 250ms var(--time-function),
    color 250ms var(--time-function), box-shadow 250ms var(--time-function);
  &:hover,
  &:focus {
    color: var(--main-bg-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    transform: scale(1.1);
  }
}
