
.title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-font)
}

.title__list {
    display: flex;
}

.title__list .title__img+.title__img {
    margin-left: 30px;
}

.title__img {
    position: relative;
}


.title__box {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}

.title__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;

}