.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.social-links-team {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  color: #afb1b8;
  transition: transform 250ms var(--time-function), background-color 250ms var(--time-function),
    color 250ms var(--time-function);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #ffffff;
    transform: scale(1.2);
  }
}

.social-links-ikon {
  fill: currentColor;
}

.team-member {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.team__name {
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-font);
  @include desktop {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.team-member__name {
  padding-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-font);
}

.team-member__prof {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color-font);
}

.team {
  background: #f5f4fa;
}

.team-member__list {
  display: flex;
  justify-content: center;
  margin: 0 32px 30px;
}

.social-links {
  width: 44px;
  height: 44px;
  margin-left: 10px;
  &:first-child {
    margin-left: 0;
  }
}
